{# Login Page #}
{% extends "layouts.customer" %}

{% block content %}
<div class="auth-page" dir="auto">
    <div class="container">
        <salla-login-modal></salla-login-modal>
    </div>
</div>
{% endblock %}
