{# Customer Profile Page #}
{% extends "layouts.customer" %}

{% block content %}
<div class="profile-page" dir="auto">
    <div class="container">
        <h1 class="page-title">{{ trans('pages.profile') }}</h1>
        <salla-customer-profile></salla-customer-profile>
    </div>
</div>
{% endblock %}
