{# Register Page #}
{% extends "layouts.customer" %}

{% block content %}
<div class="auth-page" dir="auto">
    <div class="container">
        <salla-register></salla-register>
    </div>
</div>
{% endblock %}
