{# Product Detail Page #}
{% extends "layouts.master" %}

{% block content %}
<div class="product-page" dir="auto">
    <div class="container">
        {# Breadcrumbs #}
        {% if theme.settings.get('product_show_breadcrumbs') %}
            {% component 'breadcrumb' %}
        {% endif %}
        
        <div class="product-layout">
            {# Product Gallery #}
            <div class="product-gallery">
                <salla-product-gallery></salla-product-gallery>
            </div>
            
            {# Product Info #}
            <div class="product-info">
                <h1 class="product-title">{{ product.name }}</h1>
                
                {# Price #}
                <div class="product-price">
                    <salla-product-price></salla-product-price>
                </div>
                
                {# Description #}
                <div class="product-description">
                    {{ product.description | raw }}
                </div>
                
                {# Variants #}
                <salla-product-options></salla-product-options>
                
                {# Add to Cart #}
                <salla-add-to-cart></salla-add-to-cart>
                
                {# Share #}
                <salla-social-share></salla-social-share>
            </div>
        </div>
        
        {# Related Products #}
        <salla-related-products></salla-related-products>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'product.js' | asset }}"></script>
{% endblock %}
