{# Checkout Page #}
{% extends "layouts.master" %}

{% block content %}
<div class="checkout-page" dir="auto">
    <div class="container">
        <h1 class="page-title">{{ trans('pages.checkout') }}</h1>
        <salla-checkout></salla-checkout>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'checkout.js' | asset }}"></script>
{% endblock %}
