
// Colors
$main-color: var(--color-primary);
$infinte-color: var(--infinte-color);
$main-text-color: var(--main-text-color);

:root {
  /* Colors & fonts set by master.twig from theme.settings */
  --infinte-color: #c9c9c9;
  /* current */
  --bg-gray: #c6c7ce1a;
  /* font-size */
  /* font-family: ; */
  /* plugins */
  --mm-ocd-width: calc(100% - 51px);
}
