{# Category / Product Listing Page #}
{% extends "layouts.master" %}

{% block content %}
<div class="category-page" dir="auto">
    <div class="container">
        {# Breadcrumbs #}
        {% if theme.settings.get('product_index_show_breadcrumbs') %}
            {% component 'breadcrumb' %}
        {% endif %}
        
        {# Category Header #}
        <div class="category-header">
            <h1 class="category-title">{{ brand.name }}</h1>
            {% if brand.description %}
            <div class="category-description">{{ brand.description | raw }}</div>
            {% endif %}
        </div>
        
        {# Filters + Products #}
        <div class="category-layout">
            <aside class="category-sidebar">
                <salla-filters></salla-filters>
            </aside>
            
            <main class="category-main">
                <salla-products-list></salla-products-list>
            </main>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'category.js' | asset }}"></script>
{% endblock %}
