<footer class="footer" role="contentinfo">
<div class="container">
<div class="footer__grid">
<div>
<div class="footer__brand">نور<span>ا</span></div>
<p class="footer__text">أزياء محتشمه فاخرة تعكس أناقتكِ وجمالكِ في كل مناسبة</p>
<div class="footer__social">
<a aria-label="انستغرام" href="#"><i class="fab fa-instagram"></i></a>
<a aria-label="تويتر" href="#"><i class="fab fa-twitter"></i></a>
<a aria-label="يوتيوب" href="#"><i class="fab fa-youtube"></i></a>
<a aria-label="تيك توك" href="#"><i class="fab fa-tiktok"></i></a>
</div>
</div>
<div class="footer__links">
<h4>التسوق</h4>
<ul>
<li><a href="#">العبايات</a></li>
<li><a href="#">الحجابات</a></li>
<li><a href="#">الجلابيات</a></li>
<li><a href="#">الإكسسوارات</a></li>
</ul>
</div>
<div class="footer__links">
<h4>المساعدة</h4>
<ul>
<li><a href="#">الشحن والتوصيل</a></li>
<li><a href="#">الاستبدال والاسترجاع</a></li>
<li><a href="#">مقاسات</a></li>
<li><a href="#">الأسئلة الشائعة</a></li>
</ul>
</div>
<div class="footer__links">
<h4>نورا</h4>
<ul>
<li><a href="#">من نحن</a></li>
<li><a href="#">اتصل بنا</a></li>
<li><a href="#">سياسة الخصوصية</a></li>
<li><a href="#">شروط الاستخدام</a></li>
</ul>
</div>
</div>
<div class="footer__bottom">
                    © 2026 نورا. جميع الحقوق محفوظة.
                </div>
</div>
</footer>